@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #5f6ef3;
}
.background{
background: linear-gradient(to right #2ee096,left rgb(130, 219, 79));
}
.navbar {
  padding: 15px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin:  auto;
  border-bottom: 1px solid #520606;
  background-color: rgb(66, 66, 66);
}
.navbar h1 {
  color: hsl(5, 94%, 52%);
}
.navbar .links {
  margin-left: auto;
  
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
   margin: none; 
  padding: 10px;
}

.Home h3{
  color: #f1356d;
}
.Home h2 {
  
  display: flex;
  align-items:left;

max-width: 60%;
color: #e68181;
border-radius: 600px;
}